.notes-to-anki-tags-input .setting-item-control {
    min-width: 60%;
    max-width: 60%;
}
.setting-item.notes-to-anki-tags-input {
    align-items: stretch;
}
.setting-item.notes-to-anki-tags-input .multi-select-container {
    height: 100%;
}
.setting-item.notes-to-anki-tags-input .multi-select-container .multi-select-pill {
    height: fit-content;
}
.setting-item.notes-to-anki-tags-input .multi-select-container .multi-select-pill .multi-select-pill-content {
    padding-bottom: 2px;
}

.setting-item.notes-to-anki-tags-input .multi-select-container .multi-select-pill:focus:after {
    box-shadow: none;
}


/* STYLES FOR THE SETTINGS GROUPS */
.settings-group {
    border: 2px solid var(--background-modifier-border);
    border-radius: 5px;
    padding: 10px 10px 0px 10px;
    margin-top: 20px;
}