.notes-to-anki-tags-input .setting-item-control {
    min-width: 60%;
    max-width: 60%;
}
.setting-item.notes-to-anki-tags-input {
    align-items: stretch;
}
.setting-item.notes-to-anki-tags-input .multi-select-container {
    height: 100%;
}
.setting-item.notes-to-anki-tags-input .multi-select-container .multi-select-pill {
    height: fit-content;
}